
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        header {
            background-color: #f7ca18;
            color: #fff;
            padding: 10px;
            text-align: center;
            display: flex;
            align-items: center; 
            justify-content: center; 
        }
        nav {
            background-color:rgb(30, 62, 88);
            padding: 10px 0;
        }
        nav ul {
            list-style-type: none;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #ffffff;
        }

        main {
            padding: 20px;
        }
        footer {
            background-color: #f7ca18;
            color: #030302;
            text-align: center;
            padding: 1px;
            position: sticky;
            bottom: 0;
            width: 100%;
        }
        .logo-container {
            display: flex;
            align-items: center; 
        }
        .logo-container img {
            width: 45px;
            height: auto;
            margin-right: 10px; 
        }
        
        h1#about {
            color: white;
            text-align: center;
            background-color: rgb(30, 62, 88);
        }
        h1#hs,h2#hs,h3#hs{
            color: white;
            transform: translate(20%, 0%);
            font-size: 35px;
            text-align: left;
            background-color: rgb(27, 40, 56);
        }
        h2#sys{
            transform: translate(-2%, 0%);
        }
        p#about {
            color: white;
            text-align: justify;
            font-size: 20px;
            background-color: rgb(30, 62, 88);
            line-height: 1.5;
        }
        p#license{
            color: white;
            text-align: justify;    
            font-size: 20px;
            background-color: rgb(30, 62, 88);
            line-height: 1.5;

        }
        p#WARRANTY{
            color: white;
            background-color: rgb(30, 62, 88);
            text-align: justify;
            font-size: 20px;
            padding: 0 50px;

        }
        p#support{
            color: white;
            background-color: rgb(27, 40, 56);
            transform: translate(20%, 0%);
            text-align: justify;
            font-size: 20px;
            line-height: 1;
        }
        a {
            color: white;
            font-weight: bold;
        }
        
        
        div.text-box {
            position: relative;
            top: 70%; 
            left: 50%;
            transform: translate(-50%, 0%);
            width: 80%;
            padding: 0 350px;
            margin: 0;
            background-color: rgb(30, 62, 88);    
        }

        div.feedback{
            position: relative;
            top: 70%; 
            left: 50%;
            transform: translate(-50%, -2.6%);
            width: 120%;
            padding: 0 250px;
            margin: 0;
            background-color: rgb(27, 40, 56);
        }
        div.win{
            position: relative;
            top: 70%; 
            left: 50%;
            transform: translate(-40%, 235%);
            width: 120%;
            padding: 0 250px;
            margin: 0;
            background-color: rgb(27, 40, 56);
            line-height: 1.5;
            color: white;
        }
        div.mac{
            position: relative;
            top: 70%; 
            left: 50%;
            transform: translate(-20%, 157%);
            width: 50%;
            padding: 0 20px;
            margin: 0;
            background-color: rgb(27, 40, 56);
            color: white;
            line-height: 1.5;
        }
        div.linux{
            position: relative;
            top: 70%; 
            left: 50%;
            transform: translate(15%, 50%);
            width: 80%;
            padding: 0 100px;
            margin: 0;
            background-color: rgb(27, 40, 56);
            color: white;
            line-height: 1.5;
        }
        img#gaben {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
            height: 250px;
            transform: translate(-225%, -40%);
        }
        img#bubble {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 1000px;
            height: 205px;
            transform: translate(0%, -190%);
        }
        img#wrench {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            height: 50px;
            transform: translate(-520%, -720%);
        }
        img#mail {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            height: 50px;
            transform: translate(-620%, -1488%);
        }
        img#tech {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
            height: 250px;
            transform: translate(250%, -360%);
            
        }
        img#win{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
            height: 250px;
            transform: translate(-200%, -170%);
            background-color: rgb(27, 40, 56);
        }
        img#mac{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 450px;
            height: 250px;
            transform: translate(0%, -270%);
            background-color: rgb(27, 40, 56);
        }
        img#linux{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
            height: 250px;
            transform: translate(200%, -365%);
            background-color: rgb(27, 40, 56);
        }
        label{
            color: white;
            transform: translate(20%, 0%);
            text-align: center;
            
        }
        textarea{
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            resize: none;
        }
        input[type=submit]{
            background-color: rgb(30, 62, 88);  
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: white;
        }
        form{
            transform: translate(20%, 0%);
        }
     
        
        