#1st_div{
    display: flex;
    justify-content: center;
}

#base_div {
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
    border-width: thick;
    border-color: black;
    justify-content: space-around;
    width: 80vw;
    position: relative;
    left: 10vw;
}

#base_div > div {

    display: block;
    margin: 1vw;
    position: relative;
    border-radius: 11px
}

#base_div > div:hover{
    background-color: #f7ca18;
}

div > div > a > div > img{
    border-radius: 10px;
    display: block;
    width: 300px;
    height: 150px;
}

.title{
    text-decoration: none;
    color: black;
    font-size: 30px;

}

.title:hover{
    text-decoration: underline;
}

.rating{
    font-size: 15px;
    padding-left: 1px;
}

.buy_button{
    border-radius: 5px;
    display: flex;
    right: 0;
    top: 155px;
    padding: 5px;
    margin: 5px;
    position: absolute;
    background-color: royalblue;
    font-size: 24px;
    border: none;
}

.buy_button:hover{
    background-color: red;
    color: white;
}

div > div > div > button{
    color: lightskyblue;
    background-color: steelblue;
    border-radius: 3px;
    padding: 3px;
    border: none;
    font-size: 10px;
}

.tag_container{
    display: flex;
    justify-content: space-around;
    padding: 3px;
}

div > div > div > button:hover{
    color: white;
    background-color: lightskyblue;
}