.base_store_div {
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
    border-width: thick;
    border-color: black;
    justify-content: space-around;
    width: 80vw;
    position: relative;
    left: 10vw;
}
.store_div {
    display: block;
    margin: 1vw;
    position: relative;
    border-radius: 11px;
}
.store_div:hover{
    background-color: #f7ca18;
}

.store_img{
    border-radius: 10px;
    display: block;
    width: 300px;
    height: 150px;
}

.title{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.title:hover{
    text-decoration: underline;
}

.rating{
    font-size: 15px;
    padding-left: 1px;
}

.buy_button{
    border-radius: 5px;
    right: 0;
    top: 155px;
    padding: 5px;
    margin: 5px;
    position: absolute;
    background-color: steelblue;
    font-size: 24px;
    border: none;
    color: lightskyblue;
}

.buy_button:hover{
    color: white;
    background-color: lightskyblue
}

.tag_button{
    color: lightskyblue;
    background-color: steelblue;
    border-radius: 3px;
    padding: 3px;
    border: none;
    font-size: 10px;
}

.tag_container{
    display: flex;
    justify-content: space-around;
    padding: 3px;
}

.tag_button:hover{
    color: white;
    background-color: lightskyblue;
}
.base_wishlist_div {
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-width: thick;
    border-color: black;
    justify-content: space-around;
    width: 80vw;
    position: relative;
    left: 10vw;
}
.wishlist_div {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 9.1cm auto auto;
    margin: 1vw;
    border-radius: 11px;
    background-color: cornflowerblue;
    padding: 10px;
}
@media (max-width: 1040px) {
    .wishlist_div{
        display: flex;
        flex-flow: row wrap;
    }

}
.wishlist_img{
    border-radius: 10px;
    width: 9.1cm;
}

.wishlist_element_text_container{
    position: relative;
    padding-left: 5px;
    display: grid;
    grid-template-rows: 33% auto 33% ;
}
.wishlist_title{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 30px;
}

.wishlist_title:hover{
    text-decoration: underline;
}

.wishlist_element_button_container{
    display: grid;
    grid-template-rows: 60% 40%;
}
.wishlist_buy_button_container{
    display:flex;
    flex-direction: row-reverse;
    background-color: royalblue;
    border-radius: 5px;
    margin: auto 0 0 auto;
}
.wishlist_buy_button_container > label{
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}
.wishlist_buy_button{
    border-radius: 5px;
    padding: 5px;
    background-color: forestgreen;
    font-size: 24px;
    border: none;
    color: lightgreen;
}

.wishlist_buy_button:hover{
    color: white;
    background-color: limegreen;
}

.wishlist_tag_container{
    display: flex;
    align-items: flex-end;
}

.wishlist_remove_container{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}
.wishlist_remove{
    border-radius: 5px;
    padding: 5px;
    background-color: steelblue;
    font-size: 18px;
    border: none;
    color: lightskyblue;

}

.wishlist_remove:hover{
    color: white;
    background-color: lightskyblue;
}

.game_base_div{
    border-style: solid;
    border-width: thick;
    border-color: black;
    width: 80vw;
    position: relative;
    left: 10vw;
}
.game_title{
    font-size: 24px;
    color: #f0f0f0;
}

.game_showcase_container{
    display: grid;
    grid-template-columns: 65% 32%;
    justify-content: space-between;

}

.game_showcase_right > *{
    display: block;
}