
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header {
    background-color: #f7ca18;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
nav {
    background-color:rgb(30, 62, 88);
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
}
footer {
    background-color: #f7ca18;
    color: #030302;
    text-align: center;
    padding: 1px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.logo-container {
    display: flex;
    align-items: center; 
}
.logo-container img {
    width: 45px;
    height: auto;
    margin-right: 10px; 
}

p#reviews {
    color: white;
    text-align: justify;
    font-size: 20px;
    background-color: rgb(27, 40, 56);
    line-height: 1.5;
    transform: translate(15%, -380%);
}
p#reviews_nfs {
    color: white;
    text-align: justify;
    font-size: 20px;
    background-color: rgb(27, 40, 56);
    line-height: 1.5;
    transform: translate(15%, -250%);
}
p#reviews_amogus {
    color: white;
    text-align: justify;
    font-size: 20px;
    background-color: rgb(27, 40, 56);
    line-height: 1.5;
    transform: translate(12%, -380%);
}
p#nfs{
    line-height: 1.8;
    text-align: justify;
}
div.text,h1{
    position: relative;
    top: 70%; 
    left: 50%;
    transform: translate(-60%, 0%);
    width: 80%;
    padding: 0 350px;
    margin: 0;
    background-color: rgb(27, 40, 56);
    color: white;
    line-height: 1.5;
    font-size: 20px;
}
div.trailer {
    position: relative;
    top: 70%; 
    left: 70%;
    transform: translate(-5%, -80%);
    width: 80%;
    padding: 0 40px;
    background-color: rgb(27, 40, 56);
    color: white;
    line-height: 1.5;
}
div.trailer_nfs {
    position: relative;
    top: 70%; 
    left: 70%;
    transform: translate(-5%, -69%);
    width: 80%;
    padding: 0 40px;
    background-color: rgb(27, 40, 56);
    color: white;
    line-height: 1.5;
}
div.trailer_amogus {
    position: relative;
    top: 70%; 
    left: 70%;
    transform: translate(-5%, -80%);
    width: 80%;
    padding: 0 40px;
    background-color: rgb(27, 40, 56);
    color: white;
    line-height: 1.5;
}
img#pikachu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    transform: translate(-260%, -20%);
}
img#eevee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 180px;
    transform: translate(-130%, -130%);
}
img#nfs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 180px;
    transform: translate(-220%, 0%);
}
img#nfs2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 180px;
    transform: translate(-120%, -100%);
}
img#amogus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 160px;
    transform: translate(-230%, -60%);
}
img#amogus2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 160px;
    transform: translate(-130%, -160%);
}
img#bussy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 320px;
    transform: translate(-90%, -30%);
}
button#purchase {
    background-color: greenyellow;
    color: black;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    transform: translate(-10%, 1510%);
}
button#purchase2 {
    background-color: greenyellow;
    color: black;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    transform: translate(-20%, 1070%);
}